@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Lumanosimo&family=Merienda:wght@300..900&family=Nothing+You+Could+Do&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sorts+Mill+Goudy:ital@0;1&display=swap");


body {
    font-family: 'Lumanosimo';
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
    gap: 50px; 
    padding-top: 50px;
}
#human-board, #computer-board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    border: 2px solid black;
}
.grid-square {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc; 
    background-color: #f0f8ff; 
    color: #57636d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
}
.ship {
    background-color: #4682b4; 
    border: 1px solid #2b506e;
    color: #ccc;
}
.miss {
    background-color: #6ac187; 
    border: 1px solid #1f8808;
    color: #f0efef;
    pointer-events: none;
}
.hit {
    background-color: #bf6873; 
    border: 1px solid #c30b0b;
    color: #ccc;
    pointer-events: none;
}
#winnerDialog {
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  height: 150px;
  width: 310px;
  background-color: #333;
  color: #eee;
}
#winnerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#winnerForm h2 {
  font-size: 1.4rem;
  text-align: center;
}

#playagainButton {
  width: 60%;
  padding: 8px 10px;
  border-radius: 8px;
  font-family: 'Lumanosimo';
  cursor: pointer;
  border: none;
}
#playagainButton:hover {
    background-color: #5a9cd0;
    color: #eee;
}